Source: pygtail
Section: python
Priority: optional
Maintainer: Brad Greenlee <brad@footle.org>
Build-Depends: debhelper (>= 7.0.50~), python (>=2.6.6-3~), help2man
Build-Depends-Indep: python-setuptools
Standards-Version: 3.9.3
Homepage: http://github.com/bgreenlee/pygtail

Package: pygtail
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Reads log file lines that have not been read.
