#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = pygtail

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
		
#~ override_dh_auto_test:
#~ 	dh_auto_test
#~ 	set -ex; cd pygtail && for python in $(PYTHON3_VERSIONS) $(PYTHON2_VERSIONS); do \
#~ 			$$python test/test_pygtail.py; \
#~ 	done
